artifacts/**
build/**
.DS_Store
.npmrc
.npmignore
.gitignore
QAReport.md
QAReport.md.meta
.gitlab-ci.yml
build.bat
build.sh
# Not available in published package
Documentation~/images/CoordinateBrush.png
Documentation~/images/PipelineTile.png
Documentation~/images/PipelineTileEditor.png
Documentation~/images/PrefabBrush.png
Documentation~/images/PrefabBrushEditor.png
Documentation~/images/RandomTile.png
Documentation~/images/RandomTileEditor.png
Documentation~/images/TerrainTile.png
Documentation~/images/TerrainTileEditor.png
Documentation~/images/TintBrush.png
Documentation~/images/TintBrushSmooth.png
Documentation~/images/WeightedRandomTile.png
Documentation~/images/WeightedRandomTileEditor.png
Documentation~/CoordinateBrush.md
Documentation~/PipelineTile.md
Documentation~/PrefabBrush.md
Documentation~/RandomTile.md
Documentation~/TerrainTile.md
Documentation~/TintBrush.md
Documentation~/TintBrushSmooth.md
Documentation~/WeightedRandomTile.md
Editor/Brushes/CoordinateBrush/**
Editor/Brushes/CoordinateBrush.meta
Editor/Brushes/PrefabBrushes/**
Editor/Brushes/PrefabBrushes.meta
Editor/Brushes/TintBrush/**
Editor/Brushes/TintBrush.meta
Editor/Brushes/TintBrushSmooth/**
Editor/Brushes/TintBrushSmooth.meta
Runtime/Brushes/**
Runtime/Brushes.meta
Runtime/Tiles/PipelineTile/**
Runtime/Tiles/RandomTile/**
Runtime/Tiles/TerrainTile/**
Runtime/Tiles/WeightedRandomTile/**
Runtime/Tiles/PipelineTile.meta
Runtime/Tiles/RandomTile.meta
Runtime/Tiles/TerrainTile.meta
Runtime/Tiles/WeightedRandomTile.meta